<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="D:\Project\Airbnb\public\css\style.css"> 

<footer>
    <div class="f-info">
        
        <div class="f-socials-container">
            <h3>Connect with us</h3>
            <div class="social_container"> 
                
                <div class="social_content">
                    <a href="https://www.instagram.com/airbnb/" target="_blank"> 
                        <i class='bx bxl-instagram-alt social_icon'></i> 
                    </a>
                    <div class="social_tooltip social_tooltip-top">Instagram</div>
                </div>

                <div class="social_content">
                    <a href="https://www.linkedin.com/company/airbnb/" target="_blank"> 
                        <i class='bx bxl-linkedin-square social_icon'></i> 
                    </a>
                    <div class="social_tooltip social_tooltip-top">LinkedIn</div>
                </div>
                
                <div class="social_content">
                    <a href="https://www.facebook.com/airbnb/" target="_blank"> 
                        <i class='bx bxl-facebook-circle social_icon'></i> 
                    </a>
                    <div class="social_tooltip social_tooltip-top">Facebook</div>
                </div>
            </div>
        </div>
        
        <div class="f-info-bottom">
            <div>
                &copy; Airbnb Private Limited, 2025.
            </div>
            
            <div class="f-info-links">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Sitemap</a>
                <a href="#">Company Details</a>
            </div>
        </div>
    </div>
</footer>