<body>
    <main>
        <!-- Your page content (can be empty) -->
    </main>

    <footer>
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-linkedin"></i>
            </div>
            <div>
                &copy; Airbnb Private Limited, 2025.
            </div>
            <div class="f-info-links">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Sitemap</a>
                <a href="#">Company Details</a>
            </div>
        </div>
    </footer>
</body>
