<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Airbnb</title>
</head>

<body>
  <div class="container">
    <h2>Create new</h2>
    <form method="POST" action="/listings" required>
      <input type="text" name="Listing[title]" placeholder="Enter title" required>
      <textarea name="Listing[description]" placeholder="Enter description" required></textarea>
      <input type="number" name="Listing[price]" placeholder="Enter price" required>
      <input type="text" name="Listing[location]" placeholder="Enter location" required>
      <input type="text" name="Listing[country]" placeholder="Enter country" required>

      <button>Submit</button>
    </form>
  </div>
</body>

</html>
